<!DOCTYPE html>
<html>
<head>
    <title>Spotify.FM</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-amber-950">
<div id="container">
    <h1 class="title text-3xl">Spotify.FM</h1>
    <% if(loggedIn){ %>
    <h2>Welcome, <%= userName %>!</h2>
    <% } %>

    <p>View your Spotify stats and find out your music taste!</p>

    <% if(loggedIn){ %>
    <ul class="menu">
        <li><a href="/topArtists">View my top artists</a></li>
        <li><a href="/top_genres">View my top genres</a></li>
        <li><a href="/topTracks">View my top songs</a></li>
    </ul>
    <% } %>

    <% if(loggedIn){ %>
        <a href="/logout" class="btn logout">Logout</a>
    <% } else{ %>
        <a href="/login" class="btn">Log in with Spotify</a><br>
    <% } %>
</div>
</body>
</html>
