<!DOCTYPE html>
<html>
<head>
    <title>Spotify.FM</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Welcome to my app!</h1>
    <p>Today's date is <%= currentDate %></p>

    <a href="/login">Log in with Spotify</a><br>
    <a href="/logout">Logout</a><br>
    <a href="/top_artists">Top Artists</a><br>
</body>
</html>
