<!DOCTYPE html>
<html>
<head>
    <title>Spotify.FM</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1 class="title text-3xl">Spotify.FM</h1>
    <p>Suas faixas principais das últimas semanas:</p>
    <div class="image-grid">
        <%
        for (var i = 0; i < topTracks.length; i++) { %>
            <div class="img-wrap">
                <a href="<%= topTracks[i].album.uri %>">
                    <img src="<%= topTracks[i].album.images[0].url %>" />
                    <p class="track-name"><%= topTracks[i].name %></p>
                </a>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
