<!DOCTYPE html>
<html>
<head>
    <title>Spotify.FM</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-amber-950">
  <div id="container" class="max-w-4xl mb-10">
    <h1 class="title text-3xl">Spotify.FM</h1>
    <p class="mb-4">Suas faixas principais das últimas semanas:</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        <%
        for (var i = 0; i < topTracks.length; i++) { %>
            <div class="col-span-1">
                <a href="<%= topTracks[i].album.uri %>">
                    <img src="<%= topTracks[i].album.images[0].url %>" />
                    <p class="mt-2 text-amber-800"><%= topTracks[i].name %></p>
                </a>
                <p class="mt-2"><%= topTracks[i].artists[0].name %></p>
            </div>
        <% } %>
    </div>

</div>
</body>
</html>
